

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Noto+Serif+Georgian:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Playwrite+NZ+Basic:wght@100..400&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;  
    list-style-type: none;
    text-decoration: none;
    font-family: "inter";
}
 html{
   font-size: 62.5%; 
}   

body{
     font-size: 1.6rem;
}

header{
     background-color: #FF6B1A;
}

.logo-wrapper{ 
         a{
           img{
               position:relative;
               top:3rem ;
               left: 3.8rem;
               width: 3.4rem;
               height: 3rem;
           }
         }
         h1{
            display: flex;
            justify-content: center;
            font-size: 2.4rem;
            color: white;
            font-weight: 700;
          }
          p{
               margin-top:0.5rem ;
               display: flex;
               justify-content: center;
               color: white;
               font-size: 1.4rem;
               padding-bottom: 3rem;
               font-weight: 500;
            
          }
}

.navbar-menu{
     height:7.1rem ;
     display: flex;
     align-items: center;
     background-color: #1A1A1A;
     position: relative;
     height:7.1rem;
      ul a{
            text-decoration: none;
          }
     /* ul{
   
        color: yellow;
         top:100%;
        left:0;
        background:#1A1A1A;
        width:180px;
       padding:10px 0;
     } */
    }
     .menu-bth{
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          border-radius: 0.8rem;
          gap: 0.5rem;
          width: 10.3rem;
          height:3.7rem ;
          background-color: #FF6B1A;
          margin-left:1.3rem ;      
         
          h2{
               font-size:1.9rem ;
               color: white;
               font-weight: 500;
          }
          a img{
               width: 1.7rem;
               height: 1.4rem;
           }

     }
     
.navbar-menu ul {
    display: none;
    position:absolute;
    top:100%;
    left:0;
    background:#b10a0a;
    /* width:180px; */
    padding:10px 0;
  
}
/* .navbar-menu:hover ul {
    display: block;
}
.navbar-menu ul li {
    padding: 10px 20px;
}
.navbar-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
} */
 .landing-page{
     height: 37rem;
     z-index: -2;
     background-image: url(./assets-image/Rectangle\ 21.png);
     
 }
 .landing-page div:first-child{
     position: relative;
     display: flex;
     justify-content: center;
     top: 11rem;
     z-index: -2;
     img{
          position:absolute;
          width:60rem;
          height: auto;
          bottom:-24rem;
                 
     }
 }
  .welcome{
     color: #FFFFFF;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     padding-top:14rem;
      z-index: 1;
      
          h2{
       font-weight: 700;
       font-size:2.4rem ;
       margin-bottom:1rem ;
        }
        p{
          text-align: center;
          font-size:1.6rem ;
          font-weight: 300;
        }
      }