

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Noto+Serif+Georgian:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Playwrite+NZ+Basic:wght@100..400&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;  
    list-style-type: none;
    text-decoration: none;
    font-family: "inter";
     text-decoration: none;
}
 html{
   font-size: 62.5%; 
}   

body{
     font-size: 1.6rem;
}

header{
     background-color: #FF6B1A;
}

.logo-wrapper{ 
         a{
           img{
               position:relative;
               top:3rem ;
               left: 3.8rem;
               width: 3.4rem;
               height: 3rem;
           }
         }
         h1{
            display: flex;
            justify-content: center;
            font-size: 2.4rem;
            color: white;
            font-weight: 700;
          }
          p{
               margin-top:0.5rem ;
               display: flex;
               justify-content: center;
               color: white;
               font-size: 1.4rem;
               padding-bottom: 3rem;
               font-weight: 500;
            
          }
}

.navbar-menu{
     height:7.1rem ;
     display: flex;
     align-items: center;
     background-color: #1A1A1A;
     position: relative;
     height:7.1rem;
      ul a{
            text-decoration: none;
          }
    }
     .menu-bth{
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          border-radius: 0.8rem;
          gap: 0.5rem;
          width: 10.3rem;
          height:3.7rem ;
          background-color: #FF6B1A;
          margin-left:1.3rem ;      
         
          h2{
               font-size:1.9rem ;
               color: white;
               font-weight: 500;
          }
          a img{
               width: 1.7rem;
               height: 1.4rem;
           }

     }
     
.navbar-menu:hover ul {
   display: block;
}
.navbar-menu ul {
    display: none;
    padding-top: 10px;
    position:absolute;
    top:70%;
    left:13px;
    background-color: #FF6B1A;
    width:103px;
    border-radius:0rem 0rem 1rem 1rem;
     li{ 
        display: flex;
        justify-content: center;
        color: rgb(255, 245, 245);
        border-radius: 0.2rem;
        margin-bottom: 0.8rem;
     }
}

 .landing-page{
     height: 37rem;
     z-index: -2;
     background-image: url(./assets-image/Rectangle\ 21.png);
     z-index: -1; 
 }
 main{
     background-color: #F5F5F5;
 }
 .landing-page div:first-child{
     position: relative;
     display: flex;
     justify-content: center;
     top: 11rem;
     img{
          position: absolute;
          width:20rem;
          height: auto;
          z-index: 0;
          opacity:0.2;
      }
        
     
 }
  .welcome{
     color: #FFFFFF;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     padding-top:14rem;
     position: relative;
     z-index: 1;
          h2{
       font-weight: 700;
       font-size:2.4rem ;
       margin-bottom:1rem ;
      
        }
        p{
          text-align: center;
          font-size:1.6rem ;
          font-weight: 300;
        }
      }
.gallery{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     margin-top: 3.9rem;
     row-gap:3rem ;
}
.cards{
     width:32rem;
     height: 20rem;
     box-shadow: 0px 10px 20px 0px rgba(20, 20, 20, 0.1);
     background-color: white;

     h3{
           font-size: 2.4rem;
           margin-bottom: 1rem;
          margin-left: 5.6rem;
          }
     p{
          font-size: 1.6rem;
          padding-left: 2.4rem;
         padding-right: 0.2rem;
     }
     img{
          position: relative;
          top: 3rem;
          left: 2rem;
     }

}

footer{
     height: 9rem;
     background-color:#1A1A1A ;
     color: #FFFFFF;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top:16rem ;
}

